.user {
	flex: 4;
	padding: 20px;
}

.userTitleContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.userTitle{
	
}

.userAddButton{
	border: none;
	width: 80px;
	cursor: pointer;
	height: 50px;
	border-radius: 10px;
	background-color: #212529;
	color: #ffffff;
}

.userAddButton:hover{
	background-color: #a9a8a8;
	color: #000000;
}

.userContainer{
	display: flex;
}

.userDisplay{
	margin-top: 20px;
	padding: 20px;
	margin-right: 10px;
	border-radius: 15px;
	flex: 1;
	-webkit-box-shadow: 6px 9px 11px 3px rgba(0, 0, 0, 0.67);
	box-shadow: 6px 9px 11px 3px rgba(0, 0, 0, 0.67);
}

.userUpdate{
	margin-top: 20px;
	padding: 20px;
	margin-left: 10px;
	border-radius: 15px;
	flex: 2;
	-webkit-box-shadow: 6px 9px 11px 3px rgba(0, 0, 0, 0.67);
	box-shadow: 6px 9px 11px 3px rgba(0, 0, 0, 0.67);
}

.userShowTop{
	display: flex;
	align-items: center;
}

.userShowBottom{
	margin-top: 15px;
}

.userShowTopTitle{
	display: flex;
	flex-direction: column;
}

.userShowImage{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.userShowUsername{
	font-weight: 600;
}

.userShowJob{
	font-weight: 300;
}

.userShowInfo{
	display: flex;
	margin-bottom: 10px;
	margin-top: 5px;
}

.userShowIcon{
	margin-right: 10px;
	padding-top: 4px;
}

.userShowTitle{
	font-weight: 400;
	font-size: 20px;
	color: rgb(175, 170, 170);
}

.userUpdateTitle{
	font-weight: 600;
	font-size: 24px;
	color: rgb(175, 170, 170);
}


.userUpdateImage{
	height: 100px;
	width: 100px;
	border-radius: 10%;
	object-fit: cover;
	margin-right: 20px;
}

.userUpdateForm{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.userUpdateLeft{
	margin-right: 50px;
}

.userUpdateRight{
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.userUpdateUpload{
	display: flex;
	align-items: center;
}

.userUpdateIcon{
	cursor: pointer;
}

.userUpdateItem{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.userUpdateItem>label{
	margin-bottom: 5px;
	font-size: 14px;
}

.userUpdateInput{
	border: none;
	width: 250px;
	border-bottom: 1px solid gray;
	height: 30px;
}

.userUpdateButton{
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	background-color: darkblue;
	color: white;
	font-weight: 600;
}