.chart {
	margin: 20px;
	padding: 20px;
	cursor: pointer;
	-webkit-box-shadow: 6px 9px 11px 3px rgba(0, 0, 0, 0.67);
	box-shadow: 6px 9px 11px 3px rgba(0, 0, 0, 0.67);
}

.chartTitle{
	margin-bottom: 20px;
}